@charset "ETF-8";

/*
HTML id = CSS #
HTML class = CSS .
id e class podem estar no mesmo elemento
*/

body{
    background-color: rgb(106, 150, 233);
    font-family: 'Courier New', Courier, monospace;
}
h1#principla{
    color: rgb(194, 78, 78);
    text-align: center;
}
h1{
    color: rgb(114, 107, 48);
}
h2{
    color: rgb(88, 86, 55);
}
.basico{
    color: black;
}
.intermediario{
    color: chocolate;
}
.avancado{
    color: crimson;
}